body {
    font-family: "Raleway", sans-serif;
}

#menu-header {
    position: fixed;
    background-color: rgb(2, 73, 94);

    width: 100%;
    height: 70px;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    z-index: 10;
    
    border-bottom: 2px solid;
}

.nav-link {
    text-decoration: none;
    padding-right: 55px;
    font-size: 20px;
    color: white;
}

.nav-link:hover {
    color: grey;
    transition: 0.5s;
}


#name-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: -8px;
    margin-left: -10px;
    height: 99.2vh;

    background: linear-gradient(45deg, rgb(63, 62, 62),rgb(19, 18, 18));    
}

#name-title {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 55px;
}

#name-description {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 103, 133);
    font-size: 25px;
    margin-top: -30px;
}



@media (max-width: 600px) {
    #name-title {
        font-size: 45px;
    }

}


main {
    display: flex;
    flex-direction: column;
}

#projects-section {
    position: relative;
    

    background-color: rgb(4, 101, 131);
    font-family: 'Poppins', sans-serif;
    
    margin-left: -10px;
    margin-right: -8px;
    height: auto;

    left: 0;
    right: 0;

    border-top: 3px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-title {
    text-align: center;
    font-size: 40px;
    color: white;

    width: 730px;
    margin: 70px auto 30px auto;
    border-bottom: 3px solid;
    
}

#projects-list {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;

    margin: 70px 20px 0 20px;

    grid-gap: 60px;
}

.project-img {
    width: 100%;
}

.project-text {
    
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#tribute-link {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: rgb(44, 43, 43);
    min-width: 300px;
    margin-right: 10px;
        
}


#survey-link {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: rgb(44, 43, 43);
    min-width: 300px;
}

#product-link {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: rgb(44, 43, 43);
    min-width: 300px;
}

#tech-link {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    background-color: rgb(44, 43, 43);
    min-width: 300px;
}

@media (max-width:940px) {
    #projects-list{
        grid-template-columns: 400px;
    }
}

@media (max-width:730px) {
    #projects-title{
        width: 80vw;
    }
}

.hover-text {
    color: rgb(44, 43, 43);
}

#tribute-link:hover .hover-text {
    color: rgb(163, 64, 28);
    transition: 0.5s ease-out;
}

#survey-link:hover .hover-text {
    color:rgb(163, 64, 28);
    transition: 0.5s ease-out;
}

#product-link:hover .hover-text {
    color: rgb(163, 64, 28);
    transition: 0.5s ease-out;
}

#tech-link:hover .hover-text {
    color: rgb(163, 64, 28);
    transition: 0.5s ease-out;
}

#show-form {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 100px;
    margin-bottom: 50px;
}

#show-btn {    
    background-color: rgb(44, 43, 43);
    border: none;

    width: 150px;
    height: 50px;

}

#show-a {

    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;

    text-decoration: none;
}
#show-btn:hover {
    background-color:  rgb(163, 64, 28);
    transition: 0.4s ease-out;
}

#contact-section {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: auto;
    margin-right: -8px;
    margin-left: -10px;
    
    background-color: rgb(44, 43, 43);
    font-family: 'Poppins', sans-serif;

    padding-bottom: 300px;
}

#contact-h2 {
    color: white;
    font-size: 55px;
    margin-top: 200px;
}

#contact-p {
    color: white;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 50px;
}

.hover-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 50px;    
    display: inline-block;   
    transition: transform 0.3s ease-out;    
}

.hover-link:hover {
    transform: translateY(8px);    
}

footer {    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    margin-left: -10px;
    margin-right: -8px;

    background-color: rgb(44, 43, 43);

    border-top: 12px solid;
    border-color: rgb(2, 73, 94); 

    margin-bottom: -10px;
}

footer h4 {
    color: white;
    font-size: 15px;
}

#email-div {
    position: absolute;
    width: 100%;
    height: 100vh;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    background: linear-gradient(45deg, rgb(63, 62, 62),rgb(19, 18, 18));
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    color: white;
}

